<h2>Deuses (Æsir e Vanir)</h2>
<p>Os principais deuses que habitam Asgard e Vanaheim.</p>

<div class="myth-item" style="background-color: var(--cor-principal); padding: 25px; border-radius: 12px; border-left: 5px solid var(--cor-destaque); margin-bottom: 30px; box-shadow: var(--sombra-container);">
    <img src="assets/img/Odin.jpg" alt="Imagem de Odin" loading="lazy">
    <div class="myth-content">
        <h3>Odin - O Pai de Todos</h3>
        <p>O Pai-de-Todos, deus supremo da sabedoria, da guerra e da morte. Em sua busca incessante por conhecimento, Odin sacrificou um de seus olhos na Fonte de Mimir, obtendo assim a sabedoria infinita. Seus fiéis companheiros, os corvos Hugin (Pensamento) e Munin (Memória), voam por todos os mundos trazendo-lhe informações.</p>
        <p>Senhor de Asgard, Odin lidera os Æsir e preside o conselho dos deuses em seu salão, Valaskjálf. Seu trono, Hlidskjalf, permite que ele observe todos os nove mundos de Yggdrasil.</p>
    </div>
</div>

<div class="myth-item" style="background-color: var(--cor-principal); padding: 25px; border-radius: 12px; border-left: 5px solid var(--cor-destaque); margin-bottom: 30px; box-shadow: var(--sombra-container);">
    <img src="assets/img/Thor.jpeg" alt="Imagem de Thor" loading="lazy">
    <div class="myth-content">
        <h3>Thor - Deus do Trovão</h3>
        <p>Filho de Odin e protetor incansável de Midgard, Thor é o poderoso deus do trovão e das tempestades. Sua força incomparável é amplificada por três tesouros místicos: o martelo Mjölnir, capaz de criar raios e sempre retornar à sua mão; o cinto Megingjörð, que dobra sua já imensa força; e suas luvas de ferro Járngreipr, necessárias para empunhar Mjölnir.</p>
        <p>Thor é conhecido por sua coragem e determinação na defesa dos deuses e humanos contra as ameaças dos gigantes, sendo o principal protetor de Asgard e Midgard.</p>
    </div>
</div>