<h2>Lendas e Sagas</h2>
<p>As grandes histórias que definem o cosmos nórdico.</p>

<div class="myth-item vertical">
    <img src="assets/img/Ragnarok.jpg" alt="O Crepúsculo dos Deuses - Ragnarök" loading="lazy">
    <div class="myth-content">
        <h3>Ragnarök - O Crepúsculo dos Deuses</h3>
        <p>O Ragnarök, conhecido como o "Crepúsculo dos Deuses" ou "Destino Final dos Deuses", é a profecia do fim do mundo na mitologia nórdica. Esta grande batalha final será precedida pelo Fimbulvetr, três invernos sucessivos sem verão entre eles, seguidos por caos, guerras e o rompimento dos laços familiares.</p>
        <p>Durante o Ragnarök, os gigantes e monstros, liderados por Loki, atacarão Asgard. Odin cairá diante de Fenrir, Thor enfrentará a Serpente de Midgard, e Heimdall e Loki se destruirão mutuamente. O sol será engolido por Skoll, a lua por Hati, e o mundo será consumido em chamas por Surtr. Porém, após a destruição, um novo mundo renascerá, mais verde e belo, habitado pelos filhos de Thor e pelos poucos deuses sobreviventes.</p>
    </div>
</div>